/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 0 auto;
    color: #fc5c3c;
    background-color: #FFFBF1;
}

header {
    background-color: #fff5f0;
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
}

.header-text {
    font-size: 300%;
    margin-bottom: 25px;
}

main {
    padding: 50px;
    background-color: #fff5f0;
    border-radius: 5px; 
    margin: 25px auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

main h1 {
    margin-bottom: 25px;
}

main p {
    margin-bottom: 15px;
}

nav {
    width: 50%;
    margin: 0 auto;
    font-size: .8em;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

li a {
    display: block;
    color: #fc5c3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
   text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#img-container img{
    width: 100%;
    margin-top: 50px;
}

.title {
    width: 100%;
}

.main-text {
    width: 60%;
}

.main-img {
    width: 40%;
    padding-left: 35px;
}

.main-img img {
    width: 100%;
    margin: 0 auto;
}

.learning-plan-container,
.learning-plan-header,
.learning-plan-nav,
.learning-plan-nav li a{
    background-color: #fafdff;
    color: #85b6e6;
}

.identity-value-container,
.identity-value-header,
.identity-value-nav,
.identity-value-nav li a {
    background-color: #effff4;
    color: #64cf8f;
}

.emotional-container,
.emotional-header,
.emotional-nav,
.emotional-nav li a {
    background-color: #eae4f7;
    color: #926dbe;
}

.learning-plan-list li {
    margin-left: 50px;
    padding-bottom: 25px;
}

.main-text-learning-plan h3 {
    margin-top: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1210px) {

    body {
        width: 90%;
    }
    nav {
        width: 60%;
    }

    .main-text {
        width: 100%;
    }
    .main-img {
        width: 50%;
        padding-left: 0;
        margin-top: 25px;
    }
}

@media screen and (max-width: 900px) {

    body {
        width: 95%;
    }

    nav {
        width: 70%;
    }

    .header-text {
        font-size: 250%;
    }

    main {
        font-size: 80%;
    }
}

@media screen and (max-width: 726px) {
    nav {
        width: 80%;
        font-size: 60%;
    }

    .header-text {
        font-size: 180%;
    }

    .main-img {
        width: 90%;
    }
}