/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 0 auto;
    color: #fc5c3c;
    background-color: #FFFBF1;
}

header {
    background-color: #fff5f0;
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
}

.header-text {
    font-size: 300%;
    margin-bottom: 25px;
}

main {
    padding: 50px;
    background-color: #fff5f0;
    border-radius: 5px; 
    width: 90%;
    margin: 25px auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

main h1 {
    margin-bottom: 25px;
}

main p {
    margin-bottom: 15px;
}

nav {
    width: 40%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fc5c3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
   text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#img-container img{
    width: 100%;
    margin-top: 50px;
}

.title {
    width: 100%;
}

.main-text {
    width: 60%;
    /* font-size: .8em; */
}

.main-img {
    width: 40%;
    padding-left: 35px;
}

.main-img img {
    width: 100%;
    margin: 0 auto;
}